body.master{
    background-color: green;
    width:100%;
    height:100%;
    overflow: hidden;

}

div.chip-plate{
    position:fixed;
    top:0%;
    left:38%;

}
span.coin-box{
    position:inherit;
    display: block;
    width:35%;
    height:15%; 
    background-image: url(../images/coin-box.png);
    background-size: cover;
}

div.table-text{
    position:fixed;
    top: 20%;
    left: 0%
}

span.table-text{
    position:inherit;
    display:block;
    width: 100%;
    height: 40%;
    background-image: url(../images/table-text.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.player-left{
    position:fixed;
    top:52%;
    left: 2%;

}

.player-left span {
    position:inherit;
    display:block; 
    width:26%;
    height:20%;
    background-image: url(../images/player.png);
    background-repeat: no-repeat;

}

