body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table tr td,th{
    border: 1px solid black;
   padding: 5px;
}


span.a {
  position: inherit;
   width: 73px;
  height: 97px;
  background-image: url(../images/cards.png);
  opacity: 1;
  display: block;
}

span.a-half{
     position: inherit;
   width: 16px;
  height: 97px;
  background-image: url(../images/cards.png);
  opacity: 1;
  display: block;
}

/* Clubs */
span.ca{   
  background-position: -1px 0px;    
}
span.c2{
    background-position: -73px 0px;
}
span.c3{
    background-position: -147px 0px;
}
span.c4{
    background-position: -220px 0px;
}
span.c5{
    background-position: -293px 0px;
}
span.c6{
    background-position: -366px 0px;
}
span.c7{
    background-position: -439px 0px;
}
span.c8{
    background-position: -512px 0px;
}
span.c9{
    background-position: -585px 0px;
}
span.c10{
    background-position: -658px 0px;
}
span.cj{
    background-position: -731px 0px;
}
span.cq{
    background-position: -804px 0px;
}
span.ck{
    background-position: -877px 0px;
}

/*Diamonds*/

span.da{   
  background-position: -1px -98px;    
}
span.d2{
    background-position: -73px -98px;
}
span.d3{
    background-position: -147px -98px;
}
span.d4{
    background-position: -220px -98px;
}
span.d5{
    background-position: -293px -98px;
}
span.d6{
    background-position: -366px -98px;
}
span.d7{
    background-position: -439px -98px;
}
span.d8{
    background-position: -512px -98px;
}
span.d9{
    background-position: -585px -98px;
}
span.d10{
    background-position: -658px -98px;
}
span.dj{
    background-position: -731px -98px;
}
span.dq{
    background-position: -804px -98px;
}
span.dk{
    background-position: -877px -98px;
}

/*Hearts*/
span.ha{   
  background-position: -1px -196px;    
}
span.h2{
    background-position: -73px -196px;
}
span.h3{
    background-position: -147px -196px;
}
span.h4{
    background-position: -220px -196px;
}
span.h5{
    background-position: -293px -196px;
}
span.h6{
    background-position: -366px -196px;
}
span.h7{
    background-position: -439px -196px;
}
span.h8{
    background-position: -512px -196px;
}
span.h9{
    background-position: -585px -196px;
}
span.h10{
    background-position: -658px -196px;
}
span.hj{
    background-position: -731px -196px;
}
span.hq{
    background-position: -804px -196px;
}
span.hk{
    background-position: -877px -196px;
}


/* Spades*/

span.sa{   
  background-position: -1px -295px;    
}
span.s2{
    background-position: -73px -295px;
}
span.s3{
    background-position: -147px -295px;
}
span.s4{
    background-position: -220px -295px;
}
span.s5{
    background-position: -293px -295px;
}
span.s6{
    background-position: -366px -295px;
}
span.s7{
    background-position: -439px -295px;
}
span.s8{
    background-position: -512px -295px;
}
span.s9{
    background-position: -585px -295px;
}
span.s10{
    background-position: -658px -295px;
}
span.sj{
    background-position: -731px -295px;
}
span.sq{
    background-position: -804px -295px;
}
span.sk{
    background-position: -877px -295px;
}
