.three, .one, .two, .four{
    height:200px;
    width:200px;    
    border-style: solid;
    border-width: 1px;
    margin: 10px;
}

.three{
 
    position: relative;
    left: 200px;
    border-color:red;

}

.one {
  
  border-color:green;
}

.two {
  position: relative;
    left: 100px;
  border-color:blue;
}

.four {
 
  border-color:black;
}



.textstyle{
  font-family: 'Lobster', cursive; font-weight: 200;font-size: 22px;
}

/*the following code for no borders for bottom table results*/
/*http://stackoverflow.com/questions/8875367/remove-row-lines-in-twitter-bootstrap*/

/*table.table, .table td { 
     border-top: none !important; 
 }
 --> */

/*select any td element that is a child of any element with a class name of "result" */
 .result td{ 
     border: none !important; 
 }

 .result {
  position:relative;
  left:-150px;
 }


/*Select any table element that has a class name of "result" */
table.table.result{ 
     border: none !important; 
 }


 .scores{
 
    position: relative;
    left: 60px;

}


 
  #test {
    /*margin: 0 auto; */
    border: 20px; /* or margin: 0 auto 0 auto */
  }

.makingmiddle{
  
    width: 50%; margin: 35px auto;
}


span.heading{
  position: inherit;
  text-align: center;
  height:7em;
  width: inherit;
  display: inline-block;
  color: #FFFFFF;
}
span.topLeftRightSpan{
  position: inherit;
  height: 15em;
  width:inherit;
  display:inline-block;

}

span.playerName{
  position:relative;
  text-align: center;
  vertical-align: middle;
  height:2em;
  width: inherit;
  display: inline-block;

}

span.cardHolder{
  position: inherit;
  text-align: center;
  vertical-align: middle;
  width:inherit;
  display: inline-block; 
  padding-top: 2em; 
}

.playerMessage {
  height: 25em !important;
  width: 20em !important;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FEF4E5;
  border-color: rgba(255, 255, 255, 0.3);
}

.nameBox {
  position: inherit !important;
  vertical-align: middle !important;
  width:inherit !important;
  display: inline-block !important;
  height: 15em !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.messageBox {
    position:relative;
    width: 20em;
    border: 1px solid #ddd;
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
}
.sendBtn {
    position:absolute;
    top: 3px;
    right:3px;
    width: 60px;
}
.messageLines {
  color:#666;
  font-size:14px;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-border-radius: 3px; -webkit-border-radius: 3px;
  margin:5px 0px 10px 0px;
  padding:5px;
  width:350px;
  border:#999 1px solid;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    position: relative;
    border: none;
    width: 210px;
    resize: none
}

.messageLines:focus {
  color:#000000;
  outline:none;
  border:#35a5e5 1px solid;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.enternameBox {
  height: 2em !important;
  width: 8em !important;
  float: left !important;
  background-color: rgba(255, 255, 255, 0.4);
  color: black !important;
}

h5 {
  color: #FFFFFF;
  text-align: center;
}

.glyphicon-menu-right {
float: center;
}